
<h1>Enemy Editor</h1>

<%if @enemy.errors.any? %>
<h4 style="color: #5DADE2">Errors</h4>

    <% @enemy.errors.full_messages.each do |message| %>
    <li> <%=message%> </li> 
    <% end %>
<% end %>
<br>

<%= form_for(@enemy) do |f| %>
    <%= f.label :Name %>
    <br>
    <%= f.text_field :name %>
    <br>
        <%  @attack_slots.each do |enemy_attack| %>
    <ul>
        <li>
            <%= enemy_attack.name%>
            <br>
            Attack type: <%= enemy_attack.attack_type%>
            <br>
            Target: <%= enemy_attack.target%>
            <br>
        </li>
    </ul>
        <%end%>
    <%= f.submit%>
    <% end %>
    

<br>
<%= link_to 'Go Back', enemies_path %><br>