<body id="player_show">

<ul>
  <li><a href="/battles">Main Menu</a></li>
  <li><a href="/enemies">Go Back</a></li>
</ul>

<h2>Enemy: <%= @enemy.name%></h2>
<h2>Health: <%= @enemy.health%></h2>
<br>
    <h4>Attacks Slots</h4>

<%  @attack_slots.each do |enemy_attack| %>
    <div>
        <p>
            <%= enemy_attack.name%>
            <br>
            Attack type: <%= enemy_attack.attack_type%>
            <br>
            Target: <%= enemy_attack.target%>
            <br>
            Damage: <%= enemy_attack.damage%>
            <br>
            <br>
        </p>
    </div>
<%end%>



<%= button_to "Edit", edit_enemy_path(@enemy), method: "get"%>
<%= button_to "Delete", enemy_path(@enemy), method: "delete"%>
</body>
