<body id="player_form">

<ul>
  <li><a href="/battles">Main Menu</a></li>
  <li><a href="/attacks">Go Back</a></li>
</ul>

<h2>Attack Creator</h2>

<%if @attack.errors.any? %>
<h4 style="color: #5DADE2">Errors</h4>

    <% @attack.errors.full_messages.each do |message| %>
    <li> <%=message%> </li> 
    <% end %>
<% end %>
<br>


<%= form_for(@attack) do |f| %>
    <%= f.label :Name %>
    <br>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :Damage %>
    <br>
    <%= f.text_field :damage %>
    <br>
    <br>
    <%= f.label :'Attack type' %>
    <br>
    <%= f.text_field :attack_type %>
    <br>
    <br>
    <%= f.label :Target %>
    <br>
    <%= f.text_field :target %>
    <br>
    <br>
    <br>
    <br>
    <%= f.submit%>
    <% end %>

</body>