<h1><%= @attack.name%></h1>
<%def img%>
<%img = []%>
<% if @attack.name == "Kick" %>
<img src="https://i.gifer.com/Idqu.gif">
<%elsif%>
<% @attack.name == "Punch" %>
<img src="https://i.pinimg.com/originals/1b/15/df/1b15dfc358757d3ae358ef7626cb630a.gif">
<%elsif%>
<% @attack.name == "Confusion" %>
<img src="https://media4.giphy.com/media/3ohzdIhbPfLb7pWdvG/giphy.gif">
<%elsif%>
<% @attack.name == "Slap" %>
<img src="https://media1.giphy.com/media/y6dyjA5vmkUgw/200.gif">
<%elsif%>
<% @attack.name == "Reality Check" %>
<img src="https://media1.tenor.com/images/de046dbc4dac5bb6182390ee3fd07f07/tenor.gif?itemid=6144301">
<%elsif%>
<%@attack.name == "Toe Stepper" %>
<img src="https://thumbs.gfycat.com/QualifiedFabulousBeauceron-max-1mb.gif">
<%end%>
<%end%>

<%img%>

<h3>Type: <%= @attack.attack_type%></h3>
<h3>Damage: <%= @attack.damage%></h3>
<h3>Target: <%= @attack.target%></h3>

<%= button_to "Edit", edit_attack_path(@attack), method: "get"%>
<br>
<%= button_to "Delete", attack_path(@attack), method: "delete"%>
<br>
<br>
<%= link_to 'Go Back', attacks_path %><br>
