
<body id="battles_index">

<h1>Game Title</h1>
<br>
<br>
<h2 style="color: #566573">Main Menu</h2>


<ul>
    <li>
        <h4 style="color: #5DADE2">Start a Battle 
        <%= button_to "New Battle", new_battle_path(@battle), method: "get"%>
        </h4>
         
    </li>
    <li>

        <h4 style="color: #5DADE2">New Player
        <%= button_to "New Player", new_player_path, method: "get"%>
        </h4>
         
    </li>
    <li>

        <h4 style="color: #5DADE2">Current Players
        <%= button_to "Players", players_path, method: "get"%>
        </h4>
         
    </li>
    <li>
        <h4 style="color: #5DADE2">Current Enemies
        <%= button_to "Enemies", enemies_path, method: "get"%>
        </h4>
         
    </li>
    <li>
        <h4 style="color: #5DADE2">Current Locations
        <%= button_to "Locations", locations_path, method: "get"%>
        </h4> 
    </li>
    <li>
        <h4 style="color: #5DADE2">Current Attacks
        <%= button_to "Attacks", attacks_path, method: "get"%>
        </h4> 
    </li>
    <li>
        <h4 style="color: #5DADE2">Stats
            <%= button_to "Stats", "/battles/1/allstats", method: "get"%>
            <%= button_to "Stats", "/players/24/create_player", method: "patch"%>
        </h4> 
    </li>

</ul>

<audio controls>
  <source src=“/assets/feels.mp3”>
</audio>
