
<body id="battle_index">


<h1>Game Title</h1>
<br>
<br>
<h2>Main Menu</h2>

<ul>
    <li>
        <h4>Start a Battle 
        <%= button_to "New Battle", new_battle_path(@battle), method: "get"%>
        </h4>
         
    </li>
    <li>
        <h4>Current Players
        <%= button_to "Players", players_path, method: "get"%>
        </h4>
         
    </li>
    <li>
        <h4>Current Enemies
        <%= button_to "Enemies", enemies_path, method: "get"%>
        </h4>
         
    </li>
    <li>
        <h4>Current Locations
        <%= button_to "Locations", locations_path, method: "get"%>
        </h4> 
    </li>
    <li>
        <h4>Current Attacks
        <%= button_to "Attacks", attacks_path, method: "get"%>
        </h4> 
    </li>

</ul>