<body id="battle_new">

<ul>
  <li><a href="/battles">Main Menu</a></li>
  <li><a href="/battles/1/allstats">Battle Stats</a></li>
</ul>

<h1>New Battle Form</h1>
<%= form_for(@battle) do |battle|%>

    <%= battle.label :player %>
    <%= battle.collection_select :player_id, Player.all, :id, :name %>
    
    <%= battle.label :enemy_id %>
    <%= battle.collection_select :enemy_id, Enemy.all, :id, :name %>

    <%= battle.label :location_id %>
    <%= battle.collection_select :location_id, Location.all, :id, :name %>

    <%= battle.submit %>

<%end%>

<% if @battle.errors.any? %>
    <% @battle.errors.full_messages.each do |message| %>
        <ul>
            <li><%= message %><li>
        </ul>
    <%end%>
<%end%>
