<head> 
 <script> 

function after()
{
var img = document.getElementById("player_image");
img.src="/assets/punch.gif";
// sleep(5000);
// setTimeout(() => {
    
// }, timeout);
}

</script> 

</head>

<body id="battle_show">

<%# <img id="bank" src="https://cdn.shopify.com/s/files/1/0065/4917/6438/products/exterior-of-a-large-city-bank-background_4b909c43-363e-4274-b7c9-ee89aee86ee9_1200x1200.jpg?v=1549230870"> %>


    <%# <img id="bank" src="https://i.redd.it/0bb6dqsiab451.gif"> %>


    <h3 id="opponent"><%= "#{@battle.player.name} vs. #{@battle.enemy.name}"%></h4>


<div id="battle_zone">

    <div id="battle_page_player">
    <div id="player_health">

                <%= "#{@battle.player.name}"%>

                <%= "Health: #{@battle.player.health}"%><br>
                <progress value = <%=@battle.player.health%> max = "100"></progress>
        </div>


    </div>

    <div id="battle_page_enemy">
     <div id="enemy_health">
            <%= "#{@battle.enemy.name}"%>
            <%= "Health: #{@battle.enemy.health}"%><br>
            <progress value = <%= @battle.enemy.health%> max = "100"></progress>
        </div><br>
        <%# <img src="/assets/enemy_stand_by.gif"> %>
    </div>

        <img id="player_image" src="/assets/default_battle.gif">
</div>
            <div id="attack_button1">
                <%= button_to "#{@player_attack1.name}", atkbtn1_path(@battle), method: "patch", onclick: "after()" %>
            </div>

            <div id="attack_button2">
                <%= button_to "#{@player_attack2.name}", atkbtn2_path(@battle), method: "patch", onclick: "after()"%>
            </div>

            <div id="attack_button3">
                <%= button_to "#{@player_attack3.name}", atkbtn3_path(@battle), method: "patch", onclick: "after()"%>
            </div>

            <div id="attack_button4">
                <%= button_to "#{@player_attack4.name}", atkbtn4_path(@battle), method: "patch", onclick: "after()"%>
            </div>





     

