<body id="player_form">

<ul>
  <li><a href="/battles">Main Menu</a></li>
  <li><a href="/players/">Go Back</a></li>
</ul>

<h2>Player Editor</h2>

<%if @player.errors.any? %>
<h4 style="color: #5DADE2">Errors</h4>

    <% @player.errors.full_messages.each do |message| %>
    <li> <%=message%> </li> 
    <% end %>
<% end %>
<br>

<%= form_for(@player) do |f| %>
    <%= f.label :Name %>
    <br>
    <%= f.text_field :name %>
    <br>
    <br>
    <br>
        <%  @attack_slots.each do |player_attack| %>
    <div>
        <p>
            <%= player_attack.name%>
            <br>
            Attack type: <%= player_attack.attack_type%>
            <br>
            Target: <%= player_attack.target%>
            <br>
            <br>
        </p>
    </div>
        <%end%>
        <br>
        <br>
    <%= f.submit%>
    <% end %>
</body>