<h1>Player Creator</h1>

<%if @player.errors.any? %>
<h4 style="color: #5DADE2">Errors</h4>

    <% @player.errors.full_messages.each do |message| %>
    <li> <%=message%> </li> 
    <% end %>
<% end %>
<br>


<%= form_for(@player) do |f| %>
    <%= f.label :Name %>
    <br>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.submit%>

    <% end %>

    <h4>Attacks</h4>
    <p> 
        <%  @attack_slots.each do |attack| %>
            <ul>
                <li>
                    <%= attack.name%>
                    <br>
                    Damage: <%= attack.damage%>
                </li>
            </ul>
        <%end%>
    </p>

    <br>
    <%= link_to "Go Back", players_path %>