<body id="player_form">

<ul>
  <li><a href="/battles">Main Menu</a></li>
  <li><a href="/players">Go Back</a></li>
</ul>

<h2>Player Creator</h2>

<%if @player.errors.any? %>
<h4 style="color: #5DADE2">Errors</h4>

    <% @player.errors.full_messages.each do |message| %>
    <li> <%=message%> </li> 
    <% end %>
<% end %>
<br>


<%= form_for(@player) do |f| %>
    <%= f.label :Name %>
    <br>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.submit%>
    <br>
    <% end %>
<br>
<%= button_to "Generate Player", "/players/24/create_player", method: "patch"%>
</body>
    