<body id="game_play">

<h1>New Player Form</h1>
<%= form_for(@player) do |player|%>



    <%= player.label "name:" %><br>
    <%= player.text_field :name %><br>

<br>
    <%= submit_tag %>

<%end%>

<% if @player.errors.any? %>
    <% @player.errors.full_messages.each do |message| %>
        <ul>
            <li><%= message %><li>
        </ul>
    <%end%>
<%end%>