<body id="player_show">

<h1><%= @player.name%></h1>
<h1><%= @player.health%></h1>
    <h4>Attacks</h4>
    <br>
<p>
<%  @attack_slots.each do |attack| %>
    <ul>
        <li>
            <%= attack.name%>
            <br>
             <%= attack.damage%>
            <br>
             <%= attack.attack_type%>
            <br>
             <%= attack.target%>
            <br>
        </li>
    </ul>
<%end%>
</p>



<%= button_to "Edit", edit_player_path(@player), method: "get"%>
<br>
<%= button_to "Delete", player_path(@player), method: "delete"%>
<br>
<br>
<%= link_to 'Go Back', players_path %><br>