<body id="player_form">

<ul>
  <li><a href="/battles">Main Menu</a></li>
  <li><a href="/locations">Go Back</a></li>
</ul>

<h2>Location Creator</h2>

<%if @location.errors.any? %>
<h4 style="color: #5DADE2">Errors</h4>

    <% @location.errors.full_messages.each do |message| %>
    <li> <%=message%> </li> 
    <% end %>
<% end %>
<br>


<%= form_for(@location) do |f| %>
    <%= f.label :Name %>
    <br>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :'Attack Boost type' %>
    <br>
    <%= f.text_field :location_type %>
    <br>
    <br>
    <br>
    <%= f.submit%>
    <% end %>

</body>